/venv
/dataset/oil/oil.csv
/dataset/oil/01M*.csv
/dataset/oil/04M*.csv
/dataset/oil/05M*.csv
/dataset/oil/06M*.csv
/dataset/oil/09M*.csv
/dataset/oil/10M*.csv
/dataset/oil/11M*.csv
/dataset/oil/12M*.csv
/dataset/oil/17M*.csv
/dataset/oil/18M*.csv
/dataset/oil/19M*.csv
/dataset/oil/20M*.csv
/dataset/oil/21M*.csv
/dataset/oil/22M*.csv
/dataset/oil/23M*.csv
/dataset/oil/66M*.csv